
$topbar-height: 50px;
$sidebar-color: rgb(38,53,68);
$sidebar-width: 160px;


body{
    margin: 0;
    background-color: #F2F7FB;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

.topnav {
  position: relative;
    margin-left: $sidebar-width;
    height: $topbar-height;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

.topnav-icons{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.5em;
  color: black;
  right: 0;
  margin: 0;
}

.topnav-icons a {
  color: black;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.cri-icon{
  background: url('https://www.cri-paris.org/user/themes/cri/images/CRI-sm.png');
  background-size: contain;
  height: 50px;
  width: 50px;
}

// .topnav a {
//     font-family: 'Comfortaa', cursive;
//     float: left;
//     color: rgb(255, 255, 255);
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
//     font-size: 17px;

//     display: block;
//     width: 200px;
//     height: 25px;
//     border-radius: 25px;
//     margin: 10px 5px 10px 5px;
//   }

// .topnav a:nth-child(1) {
//     background: #68DADD;
//   }

// .topnav a:nth-child(2) {
//     background: #FF79A7;
//   }

// .topnav a:nth-child(3) {
//     background: #7446E5;
//   }

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: $sidebar-width; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: $sidebar-color; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    .active{
      background-color: #1C2431;
    }
    a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      // font-family: 'Spartan', sans-serif;
      font-size: 20px;
      
  }
  a:hover{
    background-color:#485e74;
  }
}

#sidenav-logo{
    background-color: $sidebar-color;
    height: $topbar-height;
    color: white;
    text-align:center;
    line-height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
/* .sidenav {padding-top: 15px;} */
.sidenav a {font-size: 18px;}
}

.main {
  position: absolute;
  margin-left: $sidebar-width; /* Same as the width of the sidebar */
  right: 0;
  left: 0;
  bottom: 0;
  top: $topbar-height;
  background-color: #F2F7FB;
  padding: 0;
}

.main table {
  position: relative;
  border-spacing: 20px;
  border-collapse: separate;
  display: table;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

#video-side{
  padding: 0;
  position: relative;
  display: table-cell;
  background-color: rgb(224, 224, 224);
  width: 70vw;
  height: 80%;
}

.card{
  overflow: hidden;
  box-shadow:0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  border-radius: 5px;
}

#settings-side{
  padding: 0;
  display: table-cell;
  background-color: rgb(255, 255, 255);
  
}

#video-wrapper{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#bottombar{
  position: relative;
  bottom:0;
  background-color: red;
  height: 100px;
  width: 100%;
}


#settings-wrapper{
  height: 100%;
  width: 100%;
  padding: 0;
}

#setting-title{
  width: 100%;
  height: 50px;
  background-color: #2DD8B6;
  transition: background-color .2s linear;
}



// ---------------------------
$slidingTabWidth: 200px;

#settings-side-test{
  left: 500px;
  position: absolute;
  width: $slidingTabWidth;
  height: 700px;
  background-color: white;
}

#sliding-tab-wrapper {
  width: $slidingTabWidth*2;
  transform: translate3d(0, 0, 0);
  height: 100%;
  transition: transform .2s ease-in-out;
}

.content {
  float: left;
  width: $slidingTabWidth;
  // height: 100%;
  white-space: normal;
  background-repeat: no-repeat;
}

#selection-tab {
  background-color: white;
}

#scaling-tab {
  background-color: white;
}

#contentContainer {
  width: $slidingTabWidth;
  height: 100%;
  overflow: hidden;
}

#icons-part{
  display: flex;
  margin: 0;
  width: 100%;
  height: 35px;
  justify-content: space-evenly;
  a{
    width: 50px;
    text-align: center;
    color: white;
    margin: 5px;
    margin-top: 10px;
    :hover{
      cursor: pointer;
    }
    i{
      height: 100%;
      width: 100%;
    }
  }
}

#select-tab-bar{
  margin-top: 5px;
  width: 100%;
  height: 3px;
}

#select-tab-bar-selector{
  background-color: white;
  width: 50px;
  height: 100%;
  transition: .2s ease-in-out;
  border-radius: 10px;
}