<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="progressbar.css">

    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <script src="progressbar.js"></script>
    <title>progress bar</title>
</head>
<body>
    <div id="placeholder"></div>
    <div class="progress">
        <div id="progressbar-topwrapper">
            <canvas id="progressbar-canvas"></canvas>
        </div>
        <div class="textbar">
            <div class="flex-text">Setup</div>
            <div class="flex-text">Analyzis</div>
            <div class="flex-text">Results</div>
        </div>
    </div>
    <div class="controls">
        <button id="setupbutton">Setup</button>
        <button id="analyzisbutton">Analyzis</button>
        <button id="resultsbutton">Results</button>
    </div>
</body>
<link rel="stylesheet" href="progressbar.css">
</html>