<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/newStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">

    <title>Brownia</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Preparation</a>
        <a href="#news">Analyze</a>
        <a href="#contact">Results</a>
      </div>

      <div class="sidenav">
        <div id="sidenav-logo">Brownia</div>
        <a href="#">Track !</a>
        <a href="#">Dashboard</a>
        <a href="#">Tutorial</a>
        <a href="#">Exemples</a>
      </div>

      <div class="main">
        <table>
          <tr>
            <td id="video-side">
              <div id="video-wrapper">

              </div>
            </td>
            <td id="settings-side">
              <div id="settings-wrapper">
                
              </div>
            </td>
          </tr>
        </table>

    </div>
    
</body>
</html>