<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/newStyle.css" />
    <link rel="stylesheet" href="/templates/samples/progressbar.css" />
    <script src="/templates/samples/progressbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/templates/samples/slidingtab.js"></script>
    <script src="/templates/newView.js"></script>

    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa|Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <title>Brownia</title>
  </head>
  <body>
    <div class="topnav">
      <div class="topnav-icons">
        <a href="https://github.com/severinferard"><i class="fab fa-github topnav-icon"></i></a>
        <a href="https://www.cri-paris.org/en"><div class="cri-icon"></div></a>
        <a id="fullscreen-btn" href="#!"><i class="fas fa-compress"></i></a>
      </div>
    </div>

    <div class="sidenav">
      <div id="sidenav-logo">Brownia</div>
      <a id="tracking-btn" class="active" href="#">Track !</a>
      <a id="dashboard-btn" href="#">Dashboard</a>
      <a id="tuto-btn" href="#">Tutorial</a>
      <a id="exemples-btn" href="#">Exemples</a>
    </div>

    <div class="main">
      <table>
        <tr>
          <td class="card" id="video-side">
            <div id="video-wrapper"></div>
          </td>
          <td class="card" id="settings-side" rowspan="2">
            <div id="settings-wrapper">
              <div id="setting-title">
                  <div id="icons-part">
                    <a class=""><i class="fas fa-mouse-pointer settings-title-icon"></i></a>
                    <a class=""><i class="fas fa-ruler-horizontal settings-title-icon"></i></a>
                    <a class=""><i class="fas fa-adjust settings-title-icon"></i></a>
                  </div>
                <div id="select-tab-bar">
                    <div id="select-tab-bar-selector"></div>
                </div>
              </div>
              <div id="contentContainer">
                <div id="sliding-tab-wrapper">
                    <div id="selection-tab" class="content">

                      <div id="selection-mode-switch">
                        <a class="left-arrow"><i class="fas fa-chevron-left"></i></a>
                        <div id="selection-mode-container">
                          <div id="selection-mode-wrapper">
                            <div class="selection-mode-content">
                              MANUAL
                            </div>
                            <div class="selection-mode-content">
                              AUTO
                            </div>
                          </div>
                        </div>
                        <a class="right-arrow"><i class="fas fa-chevron-right"></i></a>
                      </div>
                    </div>

                    <div id="scaling-tab" class="content">
                        test2
                    </div>
                    <div id="image-tab" class="content">
                      test3
                  </div>
                </div>
            </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="card" id="bottombar">
              <div class="progress">
                <div id="progressbar-topwrapper">
                  <svg id="progressbar-svg"></svg>
                </div>
                <div class="textbar">
                  <div class="flex-text">Setup</div>
                  <div class="flex-text">Analyzis</div>
                  <div class="flex-text">Results</div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
